.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.link {
  padding: 24px 0;
}
.active {
  color: var(--button-hover);
}

@media only screen and (min-width: 768px) {
  .menu {
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link:hover,
  .link:focus {
    color: var(--button-hover);
  }
}
